<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">AplicacionVacunacion</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RegistroVacunados">
                <span class="oi oi-plus" aria-hidden="true"></span> Registro de vacunados
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ConsultaVacunados">
                <span class="oi oi-plus" aria-hidden="true"></span> Consulta de vacunados
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="VacunadosProvincia">
                <span class="oi oi-plus" aria-hidden="true"></span> Consulta por provincias
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="VacunadoPorMarca">
                <span class="oi oi-plus" aria-hidden="true"></span> Consulta por marcas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="VacunadoZodiaco">
                <span class="oi oi-plus" aria-hidden="true"></span> Consulta por zodiaco
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="EliminarVacunado">
                <span class="oi oi-plus" aria-hidden="true"></span> Eliminar vacunado
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="RegistrarVacunas">
                <span class="oi oi-plus" aria-hidden="true"></span> Registrar vacuna
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
