@page "/EliminarVacunado"

<h3>Eliminar Vacunado</h3>
<hr />

<div class="container">
    <form>
        <div class="form-group">
            <input class="form-control" placeholder="Ingrese la cedula del vacunado a eliminar" id="cedula" />
        </div>

        <button class="btn btn-outline-danger">Eliminar vacunado</button>
    </form>
</div>

@code {

}
