@page "/VacunadoZodiaco"

<h3>Vacunados por signo zodiacal</h3>
<hr />

<div class="container">
    <table class="table table-bordered">

        <thead class="thead-dark">
            <tr>
                <th>Cantidad de vacunados</th>
                <th>Signo Zodiacal</th>
            </tr>
        </thead>

        <tbody>
            <tr>
            </tr>
        </tbody>

    </table>
</div>

@code {

}
